<!doctype html>
<html>
<head>
 <meta charset="utf-8">
 {{ partial "meta.html" . }}

<body>
 {{ partial "nav.html" }}
 {{ block "main" . }}
 {{ end }}

 {{ .Params.title }} 
{{ if isset .Params "title"}}
<br/>goose
{{end }}

 {{ if isset .Site "title" }}
 dog moose cow
 {{ else }}
 <br/>else cow
 {{ end }}
{{ $thisVariable := "this is a variable value" }}
<br/>
{{ $thisVariable}}
<p>A Go template is a normal HTML page. When you want to execute a piece of 
code, you can use double curly braces like this: {{ "Hello!" }}.</p>

Looping:  

{{ $best_friends := slice "pumbaa" "timon" "nala" "rafiki" }}
<ul>
  {{ range $best_friends }}
  <li>{{ . }}</li>
  {{end }}
</ul>

<div class="sidebar">
    <a href="#home"><i class="fa fa-fw fa-home"></i> Home</a>
    <a href="#services"><i class="fa fa-fw fa-wrench"></i> Services</a>
    <a href="#clients"><i class="fa fa-fw fa-user"></i> Clients</a>
    <a href="#contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>
  </div>
  
</body>

</html>