{{ define "main" }}
  <h1>My posts</h1>
 

  <div class="section section-base-bg">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="row">
                    {{ $paginator := .Paginate (where .Pages "Type" "posts") }}
                    {{ range $paginator.Pages }}
                        <div class="col-12 mb-4">
                          <a href="{{ .Permalink }}">{{ .Title }}</a> - {{ .Date.Format "January 2, 2006" }}
                         </div>
                    {{ end }}
                </div>
                <div class="row">
                    <div class="col-12">
                   </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="sidebar">
                    {{ partial "framework/taxonomy/list-terms-by-taxonomy" (dict "site" .Site "context" . "taxonomy" "categories" "heading" "Categories") }}
                </div>
            </div>
        </div>
       
    </div>
  </div>
{{ end }}